@page "/journalEntryManagerActions2"
@using LedgrLogic

@if (Show)
{
<link rel="stylesheet" href="home.css"/>
<body>
<div class="modal-backdrop">
    <div class="dialog-card">
        <div class="dialog-header">
            <h2>Please state reason for rejecting entry:</h2>
            <button @onclick="Close" aria-label="Close dialog"
                    style="background:none;border:0;font-size:18px;cursor:pointer">✕
            </button>
        </div>

        <div class="dialog-body">
            <div style="display: grid; place-items: center;">
                <InputTextArea @bind-Value="Comment" placeholder="Rejected because..."></InputTextArea>
                <div>
                    <button @onclick="Close" type="button" class="btn btn--secondary">Cancel</button>
                    <button @onclick="RejectEntry" type="button" class="btn btn-primary">Reject</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
}

@code{

    [Parameter] public bool Show { get; set; }
    [Parameter] public EventCallback<bool> ShowChanged { get; set; }
    [Parameter] public string EntryID { get; set; }

    // Update Home Page
    [Parameter] public EventCallback<string> OnUserActivated { get; set; }

    public string Comment { get; set; } = string.Empty;

    private async Task Close()
    {
        if (ShowChanged.HasDelegate)
        await ShowChanged.InvokeAsync(false);
    }

    private async Task RejectEntry()
    {
        try
        {
            Manager.RejectJournalEntry(EntryID, Comment);
            StateHasChanged();
            await Close();
        }
            catch (Exception e)
        {
            Console.WriteLine(e.Message);
        }

    }

}